---
import Layout from "../layouts/Layout.astro";
---

<Layout title={"Hello"}>
  <div class="hello d-flex flex-column min-vh-100 min-vw-100">
    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
      <h1>Hello from Astro! 👋</h1>
    </div>
  </div>
</Layout>

<style>
  .hello {
    background: #333;
    background-size: 224px;
    color: #ddd;
  }
</style>
