---
import { Container, ListGroup } from "react-bootstrap";
import Layout from "../layouts/Layout.astro";
import { BASE_URL } from "../utils/consts";
---

<Layout title={"DD2 Cheatsheet"}>
  <Container>
    <h1>DD2 Cheatsheet</h1>
    <p>
      Checklist for Dragons Dogma 2. Tracks the progress of your items and
      quests.
    </p>
    <h2>Content:</h2>
    <ListGroup>
      <ListGroup.Item>
        <a href={BASE_URL + "/map"}>World Map</a>
      </ListGroup.Item>
      <ListGroup.Item>
        <a href={BASE_URL + "/checklist"}>Checklist</a>
      </ListGroup.Item>
    </ListGroup>
  </Container>
</Layout>
