---
import "bootswatch/dist/sandstone/bootstrap.min.css";

import ViewTransitions from "astro/components/ViewTransitions.astro";
import NavigationBar from "../components/common/NavigationBar";
import { BASE_URL } from "../utils/consts";
const iconSrc = `${BASE_URL}/images/icon.png`;
interface Props {
  title: string;
  classList?: string | string[];
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={iconSrc} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <style>
      div.main-content {
        height: calc(var(--vh, 1vh) * 100);
      }
    </style>
  </head>
  <body>
    <div class="d-flex flex-column min--100 main-content">
      <NavigationBar client:only="react" />
      <slot />
    </div>
    <style is:global>
      .navbar-toggler-icon {
      }
    </style>
  </body>
</html>
